/*

  ESSE ARQUIVO MANTEM APENAS AS ALTERAÇÕES ESPECIFICAS DA PAGIMA
  DE HARDWARE PARA SOBREPOR OS VALORES PADRÕES.

  PS: ESSE ARQUIVO DEVE SER CARREGADO POR ULTIMO NO HTML.

*/

.header-title > h1 {
  font-size: 1.3em;
}

.logo-home a{
  color: black;
  cursor: pointer;
  text-decoration: none;
}

/* COR DO CABEÇALHO DA PÁGINA */
.header {
  background-color: #0FA3B1;
}

/* COR DO LINK NO ASIDE DA PÁGINA AO PASSAR O MOUSE */
.aside-container-link a p:first-child:hover {
  color: #0FA3B1;
}

/* COR DO TITULO DOS POSTS AO PASSAR O MOUSE */
.texto h2:hover {
  color: #0FA3B1;
}

/* COR DO FOOTER DO ASIDE */
.aside-footer-link a {
  color: #0FA3B1;
}

/* COR DA SETA QUE ESTA LOGO DEPOIS DO LINK NO RODAPÉ DO ASIDE */
.aside-footer-link a::after{
  border-color: #0FA3B1;
}
