<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    
    <!-- CSS LOCAL -->
    <link rel="stylesheet" href="../../../resources/assets/css/generics/generic.header.css"/>
    <link rel="stylesheet" href="../../../resources/assets/css/generics/generic.footer.css"/>

    <link rel="stylesheet" href="../../../resources/assets/css/page.post.css"/>
    <link rel="stylesheet" href="../../../resources/assets/css/media.screen.css"/>
    <title>Aplicativos - TecBlog</title>
  </head>
  <body>
    
    <!-- BOTAO PARA SUBIR A PAGINA PARA O TOPO -->
    <div id="moveUpIcon" class="moveUpIcon" title="Ir para o Topo">
      <i class="fas fa-arrow-up fa-2x"></i>
    </div>

    <header class="header">
      <div>
        <div class="header-title">
          <h1><a href="../../../index.html">TecBlog</a></h1>
        </div>
        <div class="title-page-header">
          <h1>APLICATIVOS</h1>
        </div>
        <div class="header-search">
          <input type="text" name="search" placeholder="O que deseja procurar?" value="">
          <i class="fa fa-search" aria-hidden="true" id="icon-search"></i>
        </div>
     </div>
      <div class="migalhas">
        <div>
          <!-- BASTA DUPLICAR O (a) COM O NOME E O LINK PARA ADICIONAR OUTRA MIGALHA -->
          <a href="../../../index.html">HOME
            <i class="arrow right"></i>
         </a>
  
          <a href="../../views/pages/aplicativos.html">APLICATIVOS
            <i class="arrow right"></i>
          </a>
  
          <!-- O ÚLTIMO (a) NÃO PRECISA DE (i - seta) -->
         <a href="./aplicativos.post4.html">FINANCIADO POR BILL GATES
            <i class="arrow right"></i>
          </a>
        </div>
      </div>
    </header>

    <main class="post-content">
      <div class="content-top">
        <h1 class="post-title">App financiado por Bill Gates permite fazer recomendações para amigos</h1>
        <p>
          Likewise, um aplicativo que reúne recomendações de pessoas que você conhece e/ou nas quais confia.
        </p>
      </div>
      <div class="openning-image">
        <img src="../../../resources/assets/imagens/posts/apps/likewise.png" alt="likewise app" width="100%" height="100%"/>
      </div>
      <article class="content">
        <p>
          Utilizar aplicativos como Yelp, para restaurantes, ou o TripAdvisor, para lugares para conhecer, muitas vezes pode ser uma experiência difícil, levando em conta que o usuário toma decisões de acordo com as experiências compartilhadas por estranhos. Por isso, de acordo com um anúncio feito na semana passada, foi criado o Likewise.
        </p>

        <p>
          “Quando se trata de encontrar grandes experiências, as pessoas não querem se contentar com classificações de estranhos anônimos — preferem recomendações de amigos, familiares e outros especialistas. Se elas estão procurando um local perfeito para um primeiro encontro, uma ótima praia, um livro ou seu próximo filme, o Likewise fornece uma maneira divertida e fácil de obter recomendações de fontes confiáveis”, disse o diretor-executivo da Likewise, Ian Morris.
        </p>

        <p>
          A divulgação — vinda do escritório particular do cofundador da Microsoft, Bill Gates, com ajuda do ex-executivo da Microsoft e sócio-gerente do escritório particular de Gates, Larry Cohen — explica ainda que essas recomendações não serão limitadas a algo específico; será possível indicar livros, filmes, programas de TV ou restaurante favorito de alguém.
        </p>

        <div class="image">
          <img src="../../../resources/assets/imagens/posts/apps/likewise2.jpg" alt="likewise app" width="100%" height="100%"/>
        </div>

        <p>
          Com o aplicativo, o usuário poderá compartilhar recomendações com amigos, criar “listas temáticas” de lugares a visitar, ver os pontos mais próximos de você em um mapa, obter análises de TV e uma visualização de onde seus amigos estão indo.
        </p>

        <p>
          Por enquanto, o app está disponível apenas nos EUA e no Canadá, para dispositivos iOS e Android. O Likewise recebeu o financiamento de Gates, assim como um punhado de startups ao longo dos anos — desde Change.org e Impossible Foods até a EtaGen.
        </p>


        <h2 class="comments-title">Comentários</h2>
        <div class="comments">
          <div class="perfil-image">

          </div>
          <input type="text" placeholder="Escreva um comentário..." />
          <input type="submit" />
        </div>
      </article>
    </main>

  </body>
  <script type="text/javascript" src="../../../resources/assets/js/generic.pages.js"></script>
  <script type="text/javascript" src="../../../resources/assets/js/mobile.js"></script>
</html>
