<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    
    <!-- CSS LOCAL -->
    <link rel="stylesheet" href="../../../resources/assets/css/generics/generic.header.css"/>
    <link rel="stylesheet" href="../../../resources/assets/css/generics/generic.footer.css"/>

    <link rel="stylesheet" href="../../../resources/assets/css/page.post.css"/>
    <link rel="stylesheet" href="../../../resources/assets/css/media.screen.css"/>
    <title>Games - TecBlog</title>
  </head>
  <body>
    
    <!-- BOTAO PARA SUBIR A PAGINA PARA O TOPO -->
    <div id="moveUpIcon" class="moveUpIcon" title="Ir para o Topo">
      <i class="fas fa-arrow-up fa-2x"></i>
    </div>

    <header class="header">
        <div>
          <div class="header-title">
            <h1><a href="../../../index.html">TecBlog</a></h1>
          </div>
          <div class="title-page-header">
            <h1>GAMES</h1>
          </div>
          <div class="header-search">
            <input type="text" name="search" placeholder="O que deseja procurar?" value="">
            <i class="fa fa-search" aria-hidden="true" id="icon-search"></i>
          </div>
       </div>
        <div class="migalhas">
          <div>
            <!-- BASTA DUPLICAR O (a) COM O NOME E O LINK PARA ADICIONAR OUTRA MIGALHA -->
            <a href="../../../index.html">HOME
              <i class="arrow right"></i>
           </a>
    
            <a href="../../views/pages/games.html">GAMES
              <i class="arrow right"></i>
            </a>
    
          <!-- O ÚLTIMO (a) NÃO PRECISA DE (i - seta) -->
          <a href="./games.post.html">GHOSTBUSTERS WORLD
            <i class="arrow right"></i>
          </a>
        </div>
      </div>
    </header>

    <main class="post-content">
      <div class="content-top">
        <h1 class="post-title">Ghostbusters World, jogo estilo Pokémon GO, é lançado para Android e iOS</h1>
        <p>
          Chegou o Ghostbusters World, o jogo com realidade aumentada
           que pega na ideia da Niantic do Pokémon Go e o transforma no verdadeiro caça fantasmas.
        </p>
      </div>
      <div class="openning-image">
        <img src="../../../resources/assets/imagens/posts/games/ghostbusters-world.jpg" alt="Ghostbusters World" width="100%" height="100%"/>
      </div>
      <article class="content">
        <p>
          Depois de Jurassic Park, The Walking Dead, Harry Potter e até mesmo Jesus ganharem jogos no estilo Pokémon GO, chegou a hora dos Caça-Fantasmas entrarem em ação.
        </p>

        <div class="image">
          <img src="../../../resources/assets/imagens/posts/games/Ghostbusters-1.jpg" alt="gameplay ghostbusters" width="100%" height="100%" />
        </div>

        <p>
            Chamado de Ghostbusters World, o jogo coloca os caçadores de fantasmas para procurar por seus alvos usando o GPS. Os jogadores devem enfraquecer os fantasmas antes de conseguirem capturá-los usando armadilhas.
        </p>
        <p>
          É possível conseguir mais armadilhas e outros itens usando Dimensional Doors, os PokéStops do jogo, porém, ao contrário de como é em Pokémon GO, você possui uma Dimensional Door para posicionar onde quiser — ou seja, é possível colocá-la no seu quarto para garantir os itens constantemente.
        </p>

        <!-- <div class="image">
          imagem 2
        </div> -->

        <p>
          Apesar disso, o jogo também conta com um modo história e uma Ghost Dimension — Dimensão dos Fantasmas, em português — que apresentam batalhas por turno que podem ser automatizadas.
        </p>

        <p>
          Ghostbusters World, feito pela Ghost Corps e pela desenvolvedora coreana 4:33, está disponível gratuitamente para Android e iOS.
        </p>

        <h2 class="comments-title">Comentários</h2>
        <div class="comments">
          <div class="perfil-image">

          </div>
          <input type="text" placeholder="Escreva um comentário..." />
          <input type="submit" value="enviar"/>
        </div>
      </article>
    </main>
  </body>
  <script type="text/javascript" src="../../../resources/assets/js/generic.pages.js"></script>
  <script type="text/javascript" src="../../../resources/assets/js/mobile.js"></script>
</html>
