<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
   
    <!-- CSS LOCAL -->
    <link rel="stylesheet" href="../../../resources/assets/css/generics/generic.header.css"/>
    <link rel="stylesheet" href="../../../resources/assets/css/generics/generic.footer.css"/>

    <link rel="stylesheet" href="../../../resources/assets/css/page.post.css"/>
    <link rel="stylesheet" href="../../../resources/assets/css/media.screen.css"/>
    <title>Games - TecBlog</title>
  </head>
  <body>
    
    <!-- BOTAO PARA SUBIR A PAGINA PARA O TOPO -->
    <div id="moveUpIcon" class="moveUpIcon">
      <div class="moveUpIconCircle" title="Ir para o topo">
        <i class="fas fa-arrow-up fa-2x"></i>
      </div>
    </div>

    <header class="header">
        <div>
          <div class="header-title">
            <h1><a href="../../../index.html">TecBlog</a></h1>
          </div>
          <div class="title-page-header">
            <h1>GAMES</h1>
          </div>
          <div class="header-search">
            <input type="text" name="search" placeholder="O que deseja procurar?" value="">
            <i class="fa fa-search" aria-hidden="true" id="icon-search"></i>
          </div>
       </div>
        <div class="migalhas">
          <div>
            <!-- BASTA DUPLICAR O (a) COM O NOME E O LINK PARA ADICIONAR OUTRA MIGALHA -->
            <a href="../../../index.html">HOME
              <i class="arrow right"></i>
           </a>
    
            <a href="../../views/pages/games.html">GAMES
              <i class="arrow right"></i>
            </a>
    
          <!-- O ÚLTIMO (a) NÃO PRECISA DE (i - seta) -->
          <a href="./games.post4.html">SPYRO REIGNITED TRILOGY
            <i class="arrow right"></i>
          </a>
        </div>
      </div>
    </header>

    <main class="post-content">
      <div class="content-top">
        <h1 class="post-title">Dragão roxo está de volta! Spyro Reignited Trilogy já está disponível</h1>
        <p>
          Depois de ser adiado em dois meses, o dragãozinho roxo finalmente está de volta!
           Spyro Reignited Trilogy acaba de ser lançado e já está disponível no mundo inteiro.
        </p>
      </div>
      <div class="openning-image">
        <img src="../../../resources/assets/imagens/posts/games/spyro.png" alt="Spyro" width="100%" height="100%"/>
      </div>
      <article class="content">
        <p>
          A informação é um vazamento do usuário AnonTheNine, do Reddit, que tem um grande histórico de soltar informações antecipadas da franquia que acabaram sendo confirmadas posteriormente.
        </p>

        <div class="image">
          <img src="../../../resources/assets/imagens/posts/games/spyroGame.jpg" alt="gameplay ghostbusters" width="100%" height="100%" />
        </div>

        <p>
          O jogo reúne três títulos da franquia: Spyro the Dragon, Spyro 2: Ripto’s Rage! e Spyro: Year of the Dragon. Todos voltam com gráficos HD e mais de 100 níveis reimaginados com mecânicas modernas e controles atualizados com suporte
          completo a analógicos e manuseio suave da câmera para melhorar a experiência dos fãs.
        </p>
        <p>
          Spyro Reignited Trilogy está disponível para PlayStation 4 e Xbox One.
        </p>

        <!-- <div class="image">
          imagem 2
        </div> -->

        <!-- <p>
          A Bungie ainda não se pronunciou oficialmente.
        </p> -->

        <!-- <p>
          Ghostbusters World, feito pela Ghost Corps e pela desenvolvedora coreana 4:33, está disponível gratuitamente para Android e iOS.
        </p> -->

        <h2 class="comments-title">Comentários</h2>
        <div class="comments">
          <div class="perfil-image">

          </div>
          <input type="text" placeholder="Escreva um comentário..." />
          <input type="submit" value="enviar"/>
        </div>
      </article>
    </main>
  </body>
  <script type="text/javascript" src="../../../resources/assets/js/generic.pages.js"></script>
  <script type="text/javascript" src="../../../resources/assets/js/mobile.js"></script>
</html>
