<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
   
    <!-- CSS LOCAL -->
    <link rel="stylesheet" href="../../../resources/assets/css/generics/generic.header.css"/>
    <link rel="stylesheet" href="../../../resources/assets/css/generics/generic.footer.css"/>

    <link rel="stylesheet" href="../../../resources/assets/css/page.post.css"/>
    <link rel="stylesheet" href="../../../resources/assets/css/media.screen.css"/>
    <title>Hardware - TecBlog</title>
  </head>
  <body>

    <!-- BOTAO PARA SUBIR A PAGINA PARA O TOPO -->
    <div id="moveUpIcon" class="moveUpIcon" title="Ir para o Topo">
      <i class="fas fa-arrow-up fa-2x"></i>
    </div>

    <header class="header">
        <div>
          <div class="header-title">
            <h1><a href="../../../index.html">TecBlog</a></h1>
          </div>
          <div class="title-page-header">
            <h1>HARDWARE</h1>
          </div>
          <div class="header-search">
            <input type="text" name="search" placeholder="O que deseja procurar?" value="">
            <i class="fa fa-search" aria-hidden="true" id="icon-search"></i>
          </div>
       </div>
        <div class="migalhas">
          <div>
            <!-- BASTA DUPLICAR O (a) COM O NOME E O LINK PARA ADICIONAR OUTRA MIGALHA -->
            <a href="../../../index.html">HOME
              <i class="arrow right"></i>
           </a>
    
            <a href="../../views/pages/hardware.html">HARDWARE
              <i class="arrow right"></i>
            </a>
    
          <!-- O ÚLTIMO (a) NÃO PRECISA DE (i - seta) -->
          <a href="./hardware.post2.html">CELTRIX
            <i class="arrow right"></i>
          </a>
        </div>
      </div>
    </header>

    <main class="post-content">
      <div class="content-top">
        <h1 class="post-title">Celtrix funciona como caixa de som, carregador portátil e memória externa</h1>
        <p>
          O pequeno gadget multifuncional recebeu financiamento coletivo para ser produzido.
       </p>
      </div>
      <div class="openning-image">
        <img src="../../../resources/assets/imagens/posts/hardware/celtrix.png" alt="Celtrix 1" width="100%" height="100%"/>
      </div>
      <article class="content">
        <p>
          O Celtrix é um dispositivo multifuncional muito leve e compacto, que funciona como caixa de som, carregador portátil e armazenamento externo. Além disso, o aparelho também apresenta suporte a chip e cartão de memória adicionais, podendo ser conectado à rede Wi-Fi.
        </p>

        <p>
          O produto foi criado por empreendedores indianos e está disponível no site de financiamento coletivo Indiegogo, onde bateu a meta de US$ 10 mil para dar início à distribuição. Seu preço mínimo é de US$ 75, aproximadamente R$ 280 na cotação atual, incluindo o frete, gratuito para o Brasil. A previsão é de que as entregas comecem em fevereiro de 2019.
        </p>

        <p>
          A novidade promete solucionar várias necessidades do dia a dia dos usuários com apenas um aparelho. Oferecido nas cores cinza e branca, o Celtrix tem dimensões 8,6 x 4,9 x 1,9 cm e pesa apenas 78 gramas, o que deve ser o suficiente para transportar o equipamento no bolso. Ele se conecta a até quatro smartphones por rede e pode ser controlado por meio de um aplicativo próprio, disponível para Android e iPhone (iOS). Pelo app, o usuário pode transferir e gerenciar os arquivos salvos no dispositivo.
        </p>

        <p>
          São 128 GB de armazenamento interno, com a possibilidade de expandir essa capacidade a até 1 TB com cartão de memória SD. Sua bateria tem 6.200 mAh e também funciona como um power bank de carregamento rápido para o celular, que pode ser conectado via USB. O aparelho traz ainda uma porta microUSB, para realizar a transferência de arquivos do PC ou vice-versa.
        </p>

        <div class="image">
          <img src="../../../resources/assets/imagens/posts/hardware/celtrix2.png" alt="Celtrix 2" width="100%" height="100%"/>
        </div>

        <p>
          Funcionando como caixa de som, o Celtrix possui impedância de 6 Ohms e relação sinal/ruído de 75 dB. Ele oferece resposta de frequência de 80 Hz e 18 kHz e, por isso, não se deve entregar muita qualidade de áudio e reprodução fiel de graves. Com essas especificações, o dispositivo deve ser um pouco melhor do que acessórios de som Bluetooth com ficha técnica de entrada, como é o caso da BTS-06, que é um dos produtos mais baratos do segmento à venda no Brasil.
        </p>

        <p>
          Além de carregar bateria, tocar música e guardar dados, o Celtrix também permite conectar outro chip SIM ao telefone. O número extra irá funcionar de forma simultânea no smartphone, possibilitando ligações, mensagens e conexão à rede 4G de Internet.
        </p>

        <p>
          No Indiegogo, há diversas opções de compra, incluindo kits que acompanham cartão de memória ou outro dispositivo. Com um SD de 128 GB, o preço é de US$ 99, cerca de R$ 372 em conversão direta, enquanto o pacote com SD de 256 GB custa US$ 149, algo em torno de R$ 560. Em conjunto de dois, três e até 10 dispositivos, os preços são de US$ 142 (R$ 534), US$ 199 (R$ 749) e US$ 525 (R$ 1.975). Segundo o site, a entrega para o Brasil é gratuita, mas vale lembrar que impostos podem ser cobrados ao chegar no país.
        </p>

        <h2 class="comments-title">Comentários</h2>
        <div class="comments">
          <div class="perfil-image">

          </div>
          <input type="text" placeholder="Escreva um comentário..." />
          <input type="submit" />
        </div>
      </article>
    </main>

  </body>
  <script type="text/javascript" src="../../../resources/assets/js/generic.pages.js"></script>
  <script type="text/javascript" src="../../../resources/assets/js/mobile.js"></script>
</html>
