<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
   
    <!-- CSS LOCAL -->
    <link rel="stylesheet" href="../../../resources/assets/css/generics/generic.header.css"/>
    <link rel="stylesheet" href="../../../resources/assets/css/generics/generic.footer.css"/>

    <link rel="stylesheet" href="../../../resources/assets/css/page.post.css"/>
    <link rel="stylesheet" href="../../../resources/assets/css/media.screen.css"/>
    <title>Hardware - TecBlog</title>
  </head>
  <body>

    <!-- BOTAO PARA SUBIR A PAGINA PARA O TOPO -->
    <div id="moveUpIcon" class="moveUpIcon">
      <div class="moveUpIconCircle" title="Ir para o topo">
        <i class="fas fa-arrow-up fa-2x"></i>
      </div>
    </div>

    <header class="header">
        <div>
          <div class="header-title">
            <h1><a href="../../../index.html">TecBlog</a></h1>
          </div>
          <div class="title-page-header">
            <h1>HARDWARE</h1>
          </div>
          <div class="header-search">
            <input type="text" name="search" placeholder="O que deseja procurar?" value="">
            <i class="fa fa-search" aria-hidden="true" id="icon-search"></i>
          </div>
       </div>
        <div class="migalhas">
          <div>
            <!-- BASTA DUPLICAR O (a) COM O NOME E O LINK PARA ADICIONAR OUTRA MIGALHA -->
            <a href="../../../index.html">HOME
              <i class="arrow right"></i>
           </a>
    
            <a href="../../views/pages/hardware.html">HARDWARE
              <i class="arrow right"></i>
            </a>
    
          <!-- O ÚLTIMO (a) NÃO PRECISA DE (i - seta) -->
          <a href="./hardware.post4.html">GOOGLE HOME HUB
            <i class="arrow right"></i>
          </a>
        </div>
      </div>
    </header>

    <main class="post-content">
      <div class="content-top">
        <h1 class="post-title">Google Home Hub é novo smart display voltado para o dia a dia</h1>
        <p>
          Primeira tela inteligente do Google foi pensada para facilitar o dia a dia das casas e servir de central de controle para dispositivos conectados da casa
       </p>
      </div>
      <div class="openning-image">
        <img src="../../../resources/assets/imagens/posts/hardware/gHome.png" alt="Google Home Hub" width="100%" height="100%"/>
      </div>
      <article class="content">
        <p>
          O Google Home Hub é o novo smart display do Google. O produto foi anunciado nesta terça-feira (9), durante evento em Nova York, e traz recursos interessantes para ajudar usuários no dia a dia. Com Google Assistente, suporte ao Google Home para controlar outros dispositivos inteligentes e sem câmera por conta da privacidade da casa, o aparelho chega para concorrer diretamente com JBL Link View e o Lenovo Smart Display.
        </p>

        <p>
          O sistema reconhece ainda o usuário que está falando e pode personalizar a experiência para cada membro da família. O Google Home Hub tem preço de lançamento de US$ 149, cerca de R$ 556 na cotação atual, e já está disponível em pré-venda nos Estados Unidos, Reino Unido e Austrália. No envento, também foram anunciados os celulares Pixel 3, Pixel 3 XL e o tablet Pixel Slate.
        </p>

        <div class="image">
          <img src="../../../resources/assets/imagens/posts/hardware/gHome.png" alt="Google Home Hub" width="100%" height="100%"/>
        </div>

        <p>
          Com design simples, o aparelho promete ficar bem em qualquer cômodo de uma casa, sendo bastante interessante para usar na cozinha e no quarto, com funções práticas voltadas especificamente para esses espaços. Chama a atenção a ausência da câmera, o que foi justificado pelo Google como uma forma de aumentar a privacidade da família.
        </p>

        <p>
          O aparelho tem 118 mm de altura, 178,5 mm de largura e 67,3 mm de profundidade, speaker na parte de trás, sensor de luz e microfones para captar os comandos. O dispositivo vai estar disponível em 4 cores: branco, preto, verde e rosa.
        </p>

        <div class="image">
          <img src="../../../resources/assets/imagens/posts/hardware/gHome3.png" alt="Google Home Hub" width="100%" height="100%"/>
        </div>

        <p>
          A tela do Google Home Hub ajusta o brilho de acordo com a luminosidade do ambiente, reconhecida por sensores no produto – à noite, por exemplo, o display apaga automaticamente. O dispositivo, aliás, conta com Inteligência Artificial para diferenciar vozes ao ser ativado, variando de perfil de acordo com quem está falando. Agendas, sugestões e lembretes, inclusive, são dados exatos para a pessoa que aciona o Google Assistente.
        </p>

        <p>
          Com relação aos apps disponíveis, o Google falou sobre o YouTube e o YouTube Music, disponíveis por meio dos comandos de voz, além da sincronização do Google Fotos para criar albuns inteligentes. Esse recurso permite criar sequências de imagens em que o sistema seleciona somente as melhores, que não saíram tremidas ou que incluam pessoas específicas – escolhidas pelo usuário.
        </p>

        <div class="image">
          <img src="../../../resources/assets/imagens/posts/hardware/gHome4.png" alt="Google Home Hub" width="100%" height="100%"/>
        </div>

        <p>
          Por meio do Google Home Hub também é possível controlar todos os aparelhos inteligentes da casa, por meio do aplicativo Google Home, que também foi atualizado para smartphones. Dessa forma, fica fácil diminuir a temperatura do ar condicionado smart, ou desligar as lâmpadas conectadas apenas por meio dos comandos de voz, ou da rua, diretamente pelo aplicativo.
        </p>

        <h2 class="comments-title">Comentários</h2>
        <div class="comments">
          <div class="perfil-image">

          </div>
          <input type="text" placeholder="Escreva um comentário..." />
          <input type="submit" />
        </div>
      </article>
    </main>

  </body>
  <script type="text/javascript" src="../../../resources/assets/js/generic.pages.js"></script>
  <script type="text/javascript" src="../../../resources/assets/js/mobile.js"></script>
</html>
