<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    <!-- CSS LOCAL -->
    <link rel="stylesheet" href="../../../resources/assets/css/generics/generic.header.css"/>
    <link rel="stylesheet" href="../../../resources/assets/css/generics/generic.footer.css"/>

    <link rel="stylesheet" href="../../../resources/assets/css/page.post.css"/>
    <link rel="stylesheet" href="../../../resources/assets/css/media.screen.css"/>
    <title>Hardware - TecBlog</title>
    <style>
      .asideBar{
        display: block;
        position: fixed;
        bottom: 48.7%;
        right: 20px;
        height: 200px;
        width: 30px;
        z-index: 102;
      }
    </style>
  </head>
  <body>
    <!-- BARRA LATERAL -->
    <div class="asideBar">
      <div>
        <a href="#">
          <i class="fab fa-facebook-f"></i>
        </a>
      </div>
      <div>
        <a href="#">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
      <div>
        <a href="#">
          <i class="fab fa-whatsapp"></i>
        </a>
      </div>
      <div>
        <a href="#">
          <i class="far fa-envelope-open"></i>
        </a>
      </div>
    </div>

    <!-- BOTAO PARA SUBIR A PAGINA PARA O TOPO -->
    <div id="moveUpIcon" class="moveUpIcon" title="Ir para o Topo">
      <i class="fas fa-arrow-up fa-2x"></i>
    </div>

    <header class="header">
        <div>
          <nav class="navigator-menu">
            <div id="hamburger-button" class="hamburger-button">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div id="navigator-menu-list" class="navigator-menu-list">

              <div>
                  <h1>Categorias</h1>
                  <ul>
                    <li><a href="../pages/aplicativos.html">Aplicativos</a></li>
                    <li><a href="../pages/smartphone.html">Smartphone</a></li>
                    <li><a href="../pages/games.html">Games</a></li>
                    <li><a href="../pages/hardware.html">Hardware</a></li>
                  </ul>
              </div>

            </div>
          </nav>
          <div class="header-title">
            <h1><a href="../../../index.html">TecBlog</a></h1>
          </div>
          <div class="title-page-header">
            <h1><a href="../pages/hardware.html">HARDWARE</a></h1>
          </div>
          <div class="header-search">
            <input type="text" name="search" placeholder="O que deseja procurar?" value="">
            <i class="fa fa-search" aria-hidden="true" id="icon-search"></i>
          </div>
       </div>
        <div class="migalhas">
          <div>
            <!-- BASTA DUPLICAR O (a) COM O NOME E O LINK PARA ADICIONAR OUTRA MIGALHA -->
            <a href="../../../index.html">HOME
              <i class="arrow right"></i>
           </a>

            <a href="../../views/pages/hardware.html">HARDWARE
              <i class="arrow right"></i>
            </a>

          <!-- O ÚLTIMO (a) NÃO PRECISA DE (i - seta) -->
          <a href="./hardware.post3.html">FONE STUDIO 3 WIRELESS
            <i class="arrow right"></i>
          </a>
        </div>
      </div>
    </header>

    <main class="post-content">
      <div class="content-top">
        <h1 class="post-title">Fone Studio3 Wireless ganha coleção Skyline com cores luxuosas</h1>
        <p>
          Fones de ouvido contam com sistema inteligente de cancelamento de ruídos que isola choro de bebê no avião
       </p>
      </div>
      <div class="openning-image">
        <img src="../../../resources/assets/imagens/posts/hardware/beats.jpg" alt="Fone beats" width="100%" height="100%"/>
      </div>
      <article class="content">
        <p>
          O Studio3 Wireless, fone de ouvido sem fio da Beats by Dr Dre, ganhou a nova coleção Skyline com uma seleção mais ampla de cores para escolher. O modelo já ganhou diversas edições, incluindo a versão comemorativa de dez anos da fabricante – que foi avaliada pelo TechTudo. Dessa vez, a aposta é no mesmo design de sucesso, mas com detalhes dourados e uma gama mais variada de acabamentos luxuosos.
        </p>

        <p>
          As novas cores são: Midnight Black (preto), Crystal Blue (azul), Desert Sand (bege) e Shadow Grey (cinza). Além das novidades, o fone também está à venda em preto fosco, azul, branco e vermelho. Os Skyline estarão disponíveis no site da Apple a partir de 16 de outubro. Ainda não há confirmação de preço, mas vale lembrar que o acessório é vendido atualmente por R$ 2.500.
        </p>

        <div class="image">
          <img src="../../../resources/assets/imagens/posts/hardware/beats2.jpg" alt="Fones beat" width="100%" height="100%"/>
        </div>

        <p>
          Segundo a Beats, a novidade chega após o sucesso de vendas do Studio3 Wireless e do seu antecessor. A fabricante afirma que foram vendidas mais de 10 unidades por minuto dos modelos globalmente durante o Natal de 2017.
        </p>


        <p>
          As especificações do Studio3 Wireless são as mesmas. O destaque é a bateria de longa duração, que promete oferecer até 40 horas de reprodução de música com uma carga. Segundo a fabricante, o aparelho conta ainda com a tecnologia de carregamento rápido Fast Fuel, que permite obter três horas de autonomia com apenas 10 minutos conectado a uma fonte de energia via cabo micro USB.
        </p>

        <p>
          O fone também vem equipado com a tecnologia Pure Adaptive Noise Canceling, que ajusta o cancelamento de áudio em tempo real, conforme mudam os sons do ambiente. O fone seria capaz de adequar o vazamento de áudio causado pelos cabelos, óculos, diferentes formas de ouvido e até o movimento da cabeça. Segundo a Beats, o mecanismo é capaz de isolar inclusive o choro de criança dentro de um avião, por exemplo. Nesse modo, a duração da bateria cai para 22 horas.
        </p>

        <h2 class="comments-title">Comentários</h2>
        <div class="comments">
          <div class="perfil-image">
            <img src="../../../resources/assets/imagens/posts/avatar.png" alt="imagem padrão"  width="100%" height="100%"/>
          </div>
          <input type="text" placeholder="Escreva um comentário..." />
          <input type="submit" />
        </div>
      </article>
    </main>

    <footer class="footer">
      <div class="footer-register">
        <div class="inputs-register">
          <div class="inputs-register-text">
            <h1>Fique por dentro das últimas postagens</h1>
            <p>Preencha o formulário com o seu email para receber as últimas notícias do mundo Tecnológico!</p>
          </div>
          <div class="inputs-register-input">
            <form method="post" action="">
              <input type="email" name="email" value="" placeholder="Entre com o seu endereço de email" required autocomplete="off">
              <input type="submit" name="" value="Quero Receber">
            </form>
          </div>
        </div>
      </div>
      <div class="footer-infos">
        <div class="list-links">
          <ul>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Contato</a></li>
            <li><a href="#">Política de Privacidade</a></li>
            <li><a href="#">Termos</a></li>
          </ul>
        </div>
        <div class="footer-copyright">
          <p>&copy Todos os direitos Reservados - TecBlog</p>
        </div>
      </div>
    </footer>
  </body>
  <script type="text/javascript" src="../../../resources/assets/js/generic.pages.js"></script>
  <script type="text/javascript" src="../../../resources/assets/js/mobile.js"></script>
</html>
