<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    
    <!-- CSS LOCAL -->
    <link rel="stylesheet" href="../../../resources/assets/css/generics/generic.header.css"/>
    <link rel="stylesheet" href="../../../resources/assets/css/generics/generic.footer.css"/>

    <link rel="stylesheet" href="../../../resources/assets/css/page.post.css"/>
    <link rel="stylesheet" href="../../../resources/assets/css/media.screen.css"/>
    <title>Smartphone - TecBlog</title>
  </head>
  <body>

    <!-- BOTAO PARA SUBIR A PAGINA PARA O TOPO -->
    <div id="moveUpIcon" class="moveUpIcon" title="Ir para o Topo">
      <i class="fas fa-arrow-up fa-2x"></i>
    </div>

    <header class="header">
        <div>
          <div class="header-title">
            <h1><a href="../../../index.html">TecBlog</a></h1>
          </div>
          <div class="title-page-header">
            <h1>SMARTPHONES</h1>
          </div>
          <div class="header-search">
            <input type="text" name="search" placeholder="O que deseja procurar?" value="">
            <i class="fa fa-search" aria-hidden="true" id="icon-search"></i>
          </div>
       </div>
        <div class="migalhas">
          <div>
            <!-- BASTA DUPLICAR O (a) COM O NOME E O LINK PARA ADICIONAR OUTRA MIGALHA -->
            <a href="../../../index.html">HOME
              <i class="arrow right"></i>
           </a>
    
            <a href="../../views/pages/smartphone.html">SMARTPHONES
              <i class="arrow right"></i>
            </a>
    
          <!-- O ÚLTIMO (a) NÃO PRECISA DE (i - seta) -->
          <a href="./smartphone.post.html">SMARTPHONE FLIP
            <i class="arrow right"></i>
          </a>
        </div>
      </div>
    </header>

    <main class="post-content">
      <div class="content-top">
        <h1 class="post-title">Samsung lança na China nova versão do smartphone com flip W2019</h1>
        <p>
          O smartphone vem com duas telas, uma na parte de dentro e outra na parte de fora da tampa.
        </p>
      </div>
      <div class="openning-image">
          <img src="../../../resources/assets/imagens/posts/smartphones/flip1.jpg" alt="Samsung flip" width="100%" height="100%"/>
      </div>
      <article class="content">
        <p>
          A Samsung anunciou o lançamento da nova versão do seu smartphone com flip W2019, trazendo duas telas Super AMOLED de 4,2 polegadas
           com resolução Full HD (1920 x 1080), uma na parte de dentro e outra na parte de fora da tampa do aparelho.
        </p>

        <p>
          O smartphone mede 17,3 mm de espessura, pesa 163 g, vem com o processador Qualcomm Snapdragon 845 com oito núcleos de 2,8 GHz, 6 GiB de memória, 128 GiB ou 256 GiB de armazenamento (expansível por meio de cartão microSD de até 512 GiB), teclado numérico na parte interna, câmera traseira dupla de 12 MP com zoom óptico de 2x e estabilizador óptico, câmera frontal de 12 MP, bateria de 3.070 mAh, leitor de impressões digitais na lateral e não possui a entrada tradicional para fones ouvido.
        </p>

        <div class="image">
          <img src="../../../resources/assets/imagens/posts/smartphones/flip2.jpg" alt="Samsung flip" width="100%" height="100%"/>
        </div>

        <p>
          Além disso, o aparelho tem o sistema operacional Android 8.1 Oreo, a interface Samsung Experience, os recursos Pasta Segura, carteira virtual Samsung Pay, o assistente virtual Bixby e suporte a dois chips SIM.
        </p>
        <p>
          O novo smartphone Samsung W2019 já está à venda no mercado chinês, nas cores rosa ouro e prata, por valor equivalente a R$ 10.200. Não há informações sobre o lançamento do dispositivo em outros países.
        </p>


        <h2 class="comments-title">Comentários</h2>
        <div class="comments">
          <div class="perfil-image">

          </div>
          <input type="text" placeholder="Escreva um comentário..." />
          <input type="submit" />
        </div>
      </article>
    </main>

  </body>
  <script type="text/javascript" src="../../../resources/assets/js/generic.pages.js"></script>
  <script type="text/javascript" src="../../../resources/assets/js/mobile.js"></script>
</html>
