<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    
    <!-- CSS LOCAL -->
    <link rel="stylesheet" href="../../../resources/assets/css/generics/generic.header.css"/>
    <link rel="stylesheet" href="../../../resources/assets/css/generics/generic.footer.css"/>

    <link rel="stylesheet" href="../../../resources/assets/css/page.post.css"/>
    <link rel="stylesheet" href="../../../resources/assets/css/media.screen.css"/>
    <title>Smartphone - TecBlog</title>
  </head>
  <body>

    <!-- BOTAO PARA SUBIR A PAGINA PARA O TOPO -->
    <div id="moveUpIcon" class="moveUpIcon" title="Ir para o Topo">
      <i class="fas fa-arrow-up fa-2x"></i>
    </div>

    <header class="header">
        <div>
          <div class="header-title">
            <h1><a href="../../../index.html">TecBlog</a></h1>
          </div>
          <div class="title-page-header">
            <h1>SMARTPHONES</h1>
          </div>
          <div class="header-search">
            <input type="text" name="search" placeholder="O que deseja procurar?" value="">
            <i class="fa fa-search" aria-hidden="true" id="icon-search"></i>
          </div>
       </div>
        <div class="migalhas">
          <div>
            <!-- BASTA DUPLICAR O (a) COM O NOME E O LINK PARA ADICIONAR OUTRA MIGALHA -->
            <a href="../../../index.html">HOME
              <i class="arrow right"></i>
           </a>
    
            <a href="../../views/pages/smartphone.html">SMARTPHONES
              <i class="arrow right"></i>
            </a>
    
          <!-- O ÚLTIMO (a) NÃO PRECISA DE (i - seta) -->
          <a href="./smartphone.post4.html">NUBIA X
            <i class="arrow right"></i>
          </a>
        </div>
      </div>
    </header>

    <main class="post-content">
      <div class="content-top">
        <h1 class="post-title">Novo smartphone Nubia X traz segunda tela na parte traseira</h1>
        <p>
          O dispositivo tem um leitor de impressão digital em cada lateral, cada um para ativar um lado da tela.
        </p>
      </div>
      <div class="openning-image">
          <img src="../../../resources/assets/imagens/posts/smartphones/nubia1.png" alt="honor magic 2" width="100%" height="100%"/>
      </div>
      <article class="content">
        <p>
          A Nubia, subsidiária da ZTE, anunciou seu novo smartphone Nubia X, trazendo uma segunda tela na parte traseira e sem câmera frontal.
        </p>

        <p>
          O smartphone tem tela frontal LCD de 6,26 polegadas com resolução Full HD+, tela traseira OLED de 5,1 polegadas e resolução de 1520 x 720, câmera traseira dupla de 16 MP e 24 MP, processador Qualcomm Snapdragon 845, 6 GiB ou 8 GiB de memória, 64 GiB ou 128 GiB de armazenamento, sistema operacional Android 8.1 Oreo, bateria de 3.800 mAh e um leitor de impressão digital em cada lateral, cada um para ativar um lado da tela.
        </p>

        <div class="image">
          <img src="../../../resources/assets/imagens/posts/smartphones/nubia2.jpg" alt="honor magic 2" width="100%" height="100%"/>
        </div>

        <p>
          O dispositivo vem ainda com software preditivo, capaz de identificar o lado visualizado e mantê-lo ativado. Com isso, a tela principal fica a critério do usuário.
        </p>

        <p>
          O novo smartphone Nubia X está à venda apenas na China, por valor equivalente a R$ 1.800 (configuração básica). Não há previsão para o lançamento do aparelho em outros países.
        </p>

        <h2 class="comments-title">Comentários</h2>
        <div class="comments">
          <div class="perfil-image">
            
          </div>
          <input type="text" placeholder="Escreva um comentário..." />
          <input type="submit" />
        </div>
      </article>
    </main>

  </body>
  <script type="text/javascript" src="../../../resources/assets/js/generic.pages.js"></script>
  <script type="text/javascript" src="../../../resources/assets/js/mobile.js"></script>
</html>
