<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    
    <!-- CSS LOCAL -->
    <link rel="stylesheet" href="../../../resources/assets/css/generics/generic.header.css"/>
    <link rel="stylesheet" href="../../../resources/assets/css/generics/generic.footer.css"/>

    <link rel="stylesheet" href="../../../resources/assets/css/page.post.css"/>
    <link rel="stylesheet" href="../../../resources/assets/css/media.screen.css"/>
    <title>Smartphone - TecBlog</title>
  </head>
  <body>

    <!-- BOTAO PARA SUBIR A PAGINA PARA O TOPO -->
    <div id="moveUpIcon" class="moveUpIcon">
      <div class="moveUpIconCircle" title="Ir para o topo">
        <i class="fas fa-arrow-up fa-2x"></i>
      </div>
    </div>

    <header class="header">
        <div>
          <div class="header-title">
            <h1><a href="../../../index.html">TecBlog</a></h1>
          </div>
          <div class="title-page-header">
            <h1>SMARTPHONES</h1>
          </div>
          <div class="header-search">
            <input type="text" name="search" placeholder="O que deseja procurar?" value="">
            <i class="fa fa-search" aria-hidden="true" id="icon-search"></i>
          </div>
       </div>
        <div class="migalhas">
          <div>
            <!-- BASTA DUPLICAR O (a) COM O NOME E O LINK PARA ADICIONAR OUTRA MIGALHA -->
            <a href="../../../index.html">HOME
              <i class="arrow right"></i>
           </a>
    
            <a href="../../views/pages/smartphone.html">SMARTPHONES
              <i class="arrow right"></i>
            </a>
    
          <!-- O ÚLTIMO (a) NÃO PRECISA DE (i - seta) -->
          <a href="./smartphone.post2.html">GALAXY J4 CORE
            <i class="arrow right"></i>
          </a>
        </div>
      </div>
    </header>

    <main class="post-content">
      <div class="content-top">
        <h1 class="post-title">Samsung revela seu novo smartphone Galaxy J4 Core</h1>
        <p>
          O smartphone vem com o sistema operacional Android 8.1 Oreo Go Edition.
        </p>
      </div>
      <div class="openning-image">
          <img src="../../../resources/assets/imagens/posts/smartphones/j4-1.jpg" alt="Samsung j4" width="100%" height="100%"/>
      </div>
      <article class="content">
        <p>
          A Samsung divulgou o lançamento do novo smartphone Galaxy J4 Core, seu segundo modelo a utilizar o sistema operacional Android 8.1 Oreo Go Edition.
        </p>

        <p>
          O smartphone tem tela de seis polegadas com resolução de 1480 x 720, processador (modelo não especificado) com quatro núcleos de 1,4 GHz, 1 GiB de memória, 16 GiB de armazenamento, câmera frontal de 5 MP, câmera traseira de 8 MP, conectividade Wi-Fi IEEE 802.11b/g/n, Bluetooth 4.2, porta USB 2.0 e bateria 3.300 mAh.
        </p>

        <div class="image">
          <img src="../../../resources/assets/imagens/posts/smartphones/j4-2.webp" alt="Samsung j4" width="100%" height="100%"/>
        </div>

        <p>
          Ainda não há informações sobre a data de lançamento e o preço do novo smartphone Galaxy J4 Core.
        </p>


        <h2 class="comments-title">Comentários</h2>
        <div class="comments">
          <div class="perfil-image">

          </div>
          <input type="text" placeholder="Escreva um comentário..." />
          <input type="submit" />
        </div>
      </article>
    </main>

  </body>
  <script type="text/javascript" src="../../../resources/assets/js/generic.pages.js"></script>
  <script type="text/javascript" src="../../../resources/assets/js/mobile.js"></script>
</html>
