<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
   
    <!-- CSS LOCAL -->
    <link rel="stylesheet" href="../../../resources/assets/css/generics/generic.header.css"/>
    <link rel="stylesheet" href="../../../resources/assets/css/generics/generic.footer.css"/>

    <link rel="stylesheet" href="../../../resources/assets/css/page.post.css"/>
    <link rel="stylesheet" href="../../../resources/assets/css/media.screen.css"/>
    <title>Smartphone - TecBlog</title>
  </head>
  <body>

    <!-- BOTAO PARA SUBIR A PAGINA PARA O TOPO -->
    <div id="moveUpIcon" class="moveUpIcon" title="Ir para o Topo">
      <i class="fas fa-arrow-up fa-2x"></i>
    </div>

    <header class="header">
        <div>
          <div class="header-title">
            <h1><a href="../../../index.html">TecBlog</a></h1>
          </div>
          <div class="title-page-header">
            <h1>SMARTPHONES</h1>
          </div>
          <div class="header-search">
            <input type="text" name="search" placeholder="O que deseja procurar?" value="">
            <i class="fa fa-search" aria-hidden="true" id="icon-search"></i>
          </div>
       </div>
        <div class="migalhas">
          <div>
            <!-- BASTA DUPLICAR O (a) COM O NOME E O LINK PARA ADICIONAR OUTRA MIGALHA -->
            <a href="../../../index.html">HOME
              <i class="arrow right"></i>
           </a>
    
            <a href="../../views/pages/smartphone.html">SMARTPHONES
              <i class="arrow right"></i>
            </a>
    
          <!-- O ÚLTIMO (a) NÃO PRECISA DE (i - seta) -->
          <a href="./smartphone.post3.html">MAGIC 2
            <i class="arrow right"></i>
          </a>
        </div>
      </div>
    </header>

    <main class="post-content">
      <div class="content-top">
        <h1 class="post-title">Honor anuncia seu novo smartphone Magic 2</h1>
        <p>
          O dispositivo vem com câmeras embutidas em um painel retrátil.
        </p>
      </div>
      <div class="openning-image">
          <img src="../../../resources/assets/imagens/posts/smartphones/honor1.webp" alt="honor magic 2" width="100%" height="100%"/>
      </div>
      <article class="content">
        <p>
          A subsidiária da Huawei, Honor, divulgou o lançamento do novo smartphone Magic 2, que vem com câmera de selfie embutida em um painel retrátil.
        </p>

        <p>
          O novo smartphone tem tela AMOLED de 6,39 polegadas com resolução de 2340 x 1080, quase não tem bordas, com leitor biométrico embutido, processador Kirin 980, 6 GiB ou 8 GiB de memória, 128 GiB ou 256 GiB de armazenamento, bateria de 3.500 mAh, três câmeras frontais, uma de 16 MP e duas de 2 MP, escondidas em um painel deslizante, e câmeras traseiras triplas, sendo uma de 24 MP e duas de 16 MP.
        </p>

        <div class="image">
          <img src="../../../resources/assets/imagens/posts/smartphones/honor2.jpg" alt="honor magic 2" width="100%" height="100%"/>
        </div>

        <p>
          O Honor Magic 2 estará disponível no mercado chinês a partir do dia 6 de novembro, por preços a partir de ¥ 3.799 (cerca de R$ 2.000). A empresa ainda não divulgou o início das vendas do aparelho em outros países.
        </p>


        <h2 class="comments-title">Comentários</h2>
        <div class="comments">
          <div class="perfil-image">

          </div>
          <input type="text" placeholder="Escreva um comentário..." />
          <input type="submit" />
        </div>
      </article>
    </main>

  </body>
  <script type="text/javascript" src="../../../resources/assets/js/generic.pages.js"></script>
  <script type="text/javascript" src="../../../resources/assets/js/mobile.js"></script>
</html>
