/*

  ESSE ARQUIVO CONTEM O ESTILO PADRÃO DO RODAPÉ DO SITE, POR ISSO É CARREGADO
  EM TODAS AS PÁGINAS.

  PS: CASO SEJA NECESSÁRIO ALTERAR ALGO ESPECIFICO NO RODAPÉ DE UMA PÁGINA,
  DEVE-SE USAR O ARQUIVO page.nomedapagina.css.

*/

.footer {
  margin-top: 4%;
  height: auto;
}
.footer-register {
  display: block;
  width: 100%;
  height: 80%;
  background: url('../../../assets/imagens/home/footer_register.jpeg') center no-repeat;
  background-size: 100% auto;
}
.inputs-register {
  padding: 0;
  width: 100%;
  min-height: 400px;
  background-color: red;
  background-color: rgba(0, 0, 0, 0.7);
}
.inputs-register-text {
  min-height: 100px;
  padding-top: 50px;
  color: #fff;
  text-align: center;
}

.inputs-register-text h1 {
  margin-bottom: 15px;
}

.inputs-register-text p {
  margin: 0 auto;
  font-size: 1.1em;
  width: 30%;
}

.inputs-register-input {
  text-align: center;
  margin-top: 70px;
}
.inputs-register-input input[type="email"] {
  padding: 10px;
  width: 25%;
  font-size: 1em;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-right: 1%;
  outline-style: none;
}

.inputs-register-input input[type="submit"] {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: rgba(78, 103, 134, 0.70);
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
.inputs-register-input input[type="submit"]:hover {
  transition: 0.3s;
    background-color: rgb(78, 103, 134);
}

.footer-infos {
  display: flex;
  justify-content: space-between;
  min-height: 100px;
  padding: 20px 0;
  background-color: rgba(78, 103, 134, 0.70); /*azul claro*/
}
.list-links {
  width: 30%;
}

.list-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.list-links li {
  display: inline-block;
  margin: auto 2%;
  font-size: 1.2em;
}

.list-links li a {
  color: rgb(12, 47, 89);
  text-decoration: none;
}

.list-links li a:hover {
  color: #ccc;
  transition: 0.2s;
}
.footer-copyright {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(12, 47, 89);
  cursor: default;
}

.moveUpIcon {
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  bottom: -100px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
  z-index: 2;
}
