/* PARA QUANDO A TELA TIVER UMA LARGURA MENOR QUE 1589px */
@media screen and (max-width: 1589px){
  .main-section {
    width: 80%;
  }
}

/* PARA QUANDO A TELA TIVER UMA LARGURA MENOR QUE 1460px */
@media screen and (max-width: 1489px){
  .imagem {
    min-width: 250px;
    width: 250px;
    height: 100%;
  }
  .list-links ul li {
    font-size: 1.1em;
  }
}

/* PARA QUANDO A TELA TIVER UMA LARGURA MENOR QUE 1277px  */
@media screen and (max-width: 1277px){
  .main-menu {
    flex-direction: column;
  }
  .header-search input {
    width: 39%;
  }
  .header-search input:focus {
    transition: 0.7s;
    width: 50%;
  }
  .inputs-register-text p {
    width: 90%;
  }
  .inputs-register-input input[type="email"]{
      width: 50%;
  }
  .list-links ul {
    flex-direction: column;
  }
  .list-links, .footer-copyright {
    width: 50%;
  }
  .footer-copyright {
    text-align: center;
  }
  .main-section {
    padding: 0 10px;
  }
  .main-section {
    flex-direction: column;
  }
  .posts {
    width: 100%;
  }
}

/* PARA QUANDO A TELA TIVER UMA LARGURA MENOR QUE 753px  */
@media screen and (max-width: 753px){
    .footer-register {
      background-size: auto 100%;
    }
    .main-section {
      width: 90%;
    }
}

/* PARA QUANDO A TELA TIVER UMA LARGURA MENOR QUE 677px  */
@media screen and (max-width: 677px){
  .main-section {
    margin-top: 7%;
  }
  .main-menu {
    padding-top: 180px;
  }

  .main-menu-games {
    padding-top: 100px;
  }

  .square > a > h1 {
    font-size: 2em;
    letter-spacing: 8px;
    margin-top: 45%;
  }
  .square {
    margin-top: 20px;
  }
  .header {
    height: 115px;
    padding-top: 5px;
  }
  .migalhas {
    margin-top: 40px;
  }
  .header > div:first-child {
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .header-search {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    width: 100%;
  }

  .header-search i {
    margin-right: 20px;
  }

  .header-search input[type='text']{
    opacity: 0;
    width: 0%;
  }
  .header-search i{
    margin-left: 2%;
  }
  .header-title {
    width: 100% !important;
    text-align: left;
    margin: 0;
    padding: 0;
  }
  .title-page-header {
    margin-top: 1%;
    font-size: 0.8em;
    font-weight: 700;
    padding: 0;
  }
  .posts {
    display: flex;
    flex-direction: column;
  }
  .texto-p-header, .texto-p-main, .texto-p-footer, .texto h2 {
    padding: 0;
  }
  .imagem {
    width: 100%;
  }
  .post-content {
    width: 90%;
  }
  .content {
    width: 100%;
  }
  .post-title {
    font-size: 2em;
  }
  .modalPlayerClose {
    margin-top: 10%;
    margin-bottom: 40%;
  }
  .modalPlayer {
    justify-content: flex-start;
  }
  .inputs-register-input input[type="email"] {
    width: 75%;
    font-size: 0.8em;
  }
  .inputs-register-input input[type="submit"] {
    margin-top: 3%;
    margin-bottom: 10%;
  }
  .moveUpIconCircle {
    width: 20px;
    height: 20px;
    font-size: 0.7em !important;
  }

}

/* PARA QUANDO A TELA TIVER UMA LARGURA MENOR QUE 397px  */
@media screen and (max-width: 397px){
    .footer-infos {
      font-size: 0.8em;
    }
}
