/*
  COMTEM O ESTILO PRINCIPAL DA PÃGINA INICIAL
*/

.header {
  padding: 32px 0;
}

.main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding-top: 140px;
}

.lineOne, .lineTwo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}
.square {
  position: relative;
  width: 99%;
  height: 380px;
  margin-top: 1%;
  overflow: hidden;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}
.square img {
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.2s;
  cursor: pointer;
  object-fit: cover;
}
.square img:hover {
  transition: 0.3s;
  transform: scale(1.1);
}

.square:hover > a > h1 {
  display: none;
  transition: 0.3s;
}

.square > a > h1 {
  font-weight: bolder;
  letter-spacing: 15px;
  display: block;
  position: absolute;
  width: 100%;
  margin-top: 18%;
  text-align: center;
  font-size: 3.3em;
  color: #fff;
  z-index: 1;
  transition: 0.3s;
}
