@media screen and (max-width: 1277px){
  .main-menu {
    flex-direction: column;
  }
  .header-title, .header-search {
    width: 100%;
  }
  .header-search input {
    width: 39%;
  }
  .header-search input:focus {
    transition: 0.7s;
    width: 50%;
  }
  .inputs-register-text p {
    width: 90%;
  }
  .inputs-register-input input[type="email"]{
      width: 50%;
  }
  .list-links ul {
    flex-direction: column;
  }
  .list-links, .footer-copyright {
    width: 50%;
  }
  .footer-copyright {
    text-align: center;
  }
}

@media screen and (max-width: 677px){
  .square > a > h1 {
    font-size: 2em;
    letter-spacing: 8px;
    margin-top: 45%;
  }
  .square {
    margin-top: 20px;
  }
  .header > div:first-child {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .header-search {
    width: 100% !important;
    text-align: center;
  }
  .header-search input[type='text']{
    margin-top: 5%;
    width: 80%;
  }
  .header-title {
    width: 100% !important;
    text-align: left;
  }
  .title-page-header {
    margin-top: 2%;
    font-size: 1.2em;
  }
}

@media screen and (max-width: 753px){
    .footer-register {
      background-size: auto 100%;
    }
}

@media screen and (max-width: 397px){
    .footer-infos {
      font-size: 0.8em;
    }
}
