<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    
    <!-- CSS LOCAL -->
    <link rel="stylesheet" href="../../../resources/assets/css/generics/generic.header.css"/>
    <link rel="stylesheet" href="../../../resources/assets/css/generics/generic.posts.css"/>
    <link rel="stylesheet" href="../../../resources/assets/css/generics/generic.aside.css"/>
    <link rel="stylesheet" href="../../../resources/assets/css/generics/generic.footer.css"/>
    <link rel="stylesheet" href="../../../resources/assets/css/generics/modal.player.css"/>
    
    <link rel="stylesheet" href="../../../resources/assets/css/page.games.css"/>
    <link rel="stylesheet" href="../../../resources/assets/css/media.screen.css"/>
    
    <title>Aplicativos - TecBlog</title>
  </head>
  <body>
    <!-- BOTAO PARA MOVER PARA CIMA -->
    <div id="moveUpIcon" class="moveUpIcon" title="Ir para o Topo">
      <i class="fas fa-arrow-up fa-2x"></i>
    </div>
    
    <!-- MODAL PARA PRODUZIR OS VIDEOS -->
    <div id="modalPlayer" class="modalPlayer">
      <div class="modalPlayerClose">
        <span id="modalPlayerClose">✖</span>
      </div>
      <div class="modalPlayerCenter">
        <video autostart="1" poster="" controls controlslist="nodownload noremoteplayback" preload="auto">
          <source src="" type="">
        </video>
      </div>
    </div>

    <header class="header">
      <div>
        <nav class="navigator-menu">
          <div id="hamburger-button" class="hamburger-button">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <div id="navigator-menu-list" class="navigator-menu-list">

            <div>
                <h1>Categorias</h1>
                <ul>
                  <li><a href="./aplicativos.html">Aplicativos</a></li>
                  <li><a href="./smartphone.html">Smartphone</a></li>
                  <li><a href="./games.html">Games</a></li>
                  <li><a href="./hardware.html">Hardware</a></li>
                </ul>
            </div>

            <div>
                <h1>Contato</h1>
                <ul>
                  <li><a href="#">Seja um parceiro</a></li>
                  <li><a href="#">Informe uma novidade</a></li>
                  <li><a href="#">Nossas redes sociais</a></li>
                </ul>
            </div>
            
          </div>
        </nav>
        <div class="header-title">
          <h1><a href="../../../index.html">TecBlog</a></h1>
        </div>
        <div class="title-page-header">
          <h1>APLICATIVOS</h1>
        </div>
        <div class="header-search">
          <input type="text" name="search" placeholder="O que deseja procurar?" value="">
          <i class="fa fa-search" aria-hidden="true" id="icon-search"></i>
        </div>
      </div>
      <div class="migalhas">
        <div>
          <!-- BASTA DUPLICAR O (a) COM O NOME E O LINK PARA ADICIONAR OUTRA MIGALHA -->
          <a href="../../../index.html">HOME
            <i class="arrow right"></i>
          </a>
          <!-- O ÚLTIMO (a) NÃO PRECISA DE (i - seta) -->
          <a href="./aplicativos.html">APLICATIVOS</a>
        </div>
      </div>
    </header>

    <main class="main-menu-games">
      <section class="main-section">
        <div class="main-div">
          <div class="posts">
            <div class="imagem">
              <a href="../../../resources/views/postpages/aplicativos.post.html">
                <img src="../../../resources/assets/imagens/posts/apps/wapp1.jpg" alt="whatsapp">
              </a>
            </div>
            <div class="texto">
              <p class="texto-p-header">novidade no whatsapp</p>
                <a href="../../../resources/views/postpages/aplicativos.post.html">
                  <h2>O Whatsapp está testando um recurso para adicionar contatos via código QR</h2>
                </a>
              <p class="texto-p-main">
                De acordo com a WABetaInfo, o Whatsapp está testando uma nova função que vai facilitar bastante adicionar novos contatos à lista atual.
              </p>
              <p class="texto-p-footer">
                ONTEM - EM WHATSAPP
              </p>
            </div>
          </div>

          <div class="posts">
            <div class="imagem">
              <a href="../../../resources/views/postpages/aplicativos.post2.html">
                <img src="../../../resources/assets/imagens/posts/apps/wappVStelg1.jpg" alt="WhatsApp vs Telegram">
              </a>
            </div>
            <div class="texto">
              <p class="texto-p-header">telegram vs whatsapp</p>
                <a href="../../../resources/views/postpages/aplicativos.post2.html">
                  <h2>Em jogada estratégica, Telegram lança 20 pacotes de adesivos para WhatsApp</h2>
                </a>
              <p class="texto-p-main">
                O mais recente lançamento do Telegram: 20 pacotes de adesivos para incrementar a biblioteca do rival WhatsApp.
              </p>
              <p class="texto-p-footer">
                HÁ 10 HORAS - EM TELEGRAM
              </p>
            </div>
          </div>

          <div class="posts">
            <div class="imagem">
              <a href="../../../resources/views/postpages/aplicativos.post3.html">
                <img src="../../../resources/assets/imagens/posts/apps/maps1.jpg" alt="Google maps">
              </a>
            </div>
            <div class="texto">
              <p class="texto-p-header">novidade</p>
                <a href="../../../resources/views/postpages/aplicativos.post3.html">
                  <h2>Google permite que usuário 'siga' seus lugares favoritos pelo Google Maps</h2>
                </a>
              <p class="texto-p-main">
                O Google Maps vai estrear uma novidade na maneira em que mantemos contato com locais onde gostamos de ir, como restaurantes, casas de show e outros comércios.              </p>
              <p class="texto-p-footer">
                HÁ 11 HORAS - EM GOOGLE
              </p>
            </div>
          </div>

          <div class="posts">
            <div class="imagem">
              <a href="../../../resources/views/postpages/aplicativos.post4.html">
                <img src="../../../resources/assets/imagens/posts/apps/likewise.png" alt="Likewise">
              </a>
            </div>
            <div class="texto">
              <p class="texto-p-header">lançamento</p>
                <a href="../../../resources/views/postpages/aplicativos.post4.html">
                  <h2>App financiado por Bill Gates permite fazer recomendações para amigos</h2>
                </a>
              <p class="texto-p-main">
                Likewise, um aplicativo que reúne recomendações de pessoas que você conhece e/ou nas quais confia.
              </p>
              <p class="texto-p-footer">
                HÁ 11 HORAS - EM LANÇAMENTOS
              </p>
            </div>
          </div>

        </div>
        <aside class="main-aside">
          <div class="aside-container">
              <h1>ÚLTIMAS PUBLICAÇÕES</h1>

              <div class="aside-publicacao">
                <div class="aside-img">
                  <a href="#">
                    <img src="../../../resources/assets/imagens/posts/apps/spotifynomaximo.jpg" alt="Como ouvir música no Spotify com qualidade máxima">
                  </a>
                </div>
                <div class="aside-container-link">
                  <a href="#">
                    <p>Como ouvir música no Spotify com qualidade máxima</p>
                    <p>HÁ 5 MINUTOS</p>
                  </a>
                </div>
              </div>

              <div class="aside-publicacao">
                <div class="aside-img">
                  <a href="#">
                    <img src="../../../resources/assets/imagens/posts/apps/nubank-foto.jpg" alt="Nubank cartão">
                  </a>
                </div>
                <div class="aside-container-link">
                  <a href="#">
                    <p>Nubank tem função para cobrar dinheiro com boleto forma 'simpática'</p>
                    <p>HÁ 30 MINUTOS</p>
                  </a>
                </div>
              </div>

              <div class="aside-publicacao">
                <div class="aside-img">
                  <a href="#">
                    <img src="../../../resources/assets/imagens/posts/apps/app-maia.jpg" alt="App Maia">
                  </a>
                </div>
                <div class="aside-container-link">
                  <a href="#">
                    <p>Como saber se estou no período fértil com o app Maia</p>
                    <p>HÁ 1 HORA</p>
                  </a>
                </div>
              </div>

              <p class="aside-footer-link">
                <a href="#">VEJA MAIS PUBLICAÇÕES</a>
              </p>
          </div>

          <div class="aside-container">
              <h1>TOP VÍDEOS</h1>

              <div class="aside-publicacao">
                <div class="aside-img">
                  <a href="#" class="initPlayVideo" data-video="https://drive.google.com/uc?export=download&id=1w3mnF7gP84PyScQTMfONjarr7XHmgi2P" data-video-ext="mp4" data-video-img="../../../resources/assets/imagens/posts/apps/10_apps_uteis.png">
                    <i class="fas fa-play fa-2x"></i>
                    <img src="../../../resources/assets/imagens/posts/apps/10_apps_uteis.png" alt="Dicas dos 10 aplicativos úteis para o seu smartphone">
                  </a>
                </div>
                <div class="aside-container-link">
                  <a href="#" class="initPlayVideo" data-video="https://drive.google.com/uc?export=download&id=1w3mnF7gP84PyScQTMfONjarr7XHmgi2P" data-video-ext="mp4" data-video-img="../../../resources/assets/imagens/posts/apps/10_apps_uteis.png">
                    <p>10 aplicativos úteis para o seu smartphone</p>
                    <p>HÁ 1 HORA</p>
                  </a>
                </div>
              </div>

              <div class="aside-publicacao">
                <div class="aside-img">
                  <a href="#" class="initPlayVideo" data-video="https://drive.google.com/uc?export=download&id=15m69j2xWq1XjRLzY-H9aEhA1c9qZlqk9" data-video-ext="mp4" data-video-img="../../../resources/assets/imagens/posts/apps/melhores.apps.baixaki.png">
                    <i class="fas fa-play fa-2x"></i>
                    <img src="../../../resources/assets/imagens/posts/apps/melhores.apps.baixaki.png" alt="Melhores Apps da Semana para Android e iOS">
                  </a>
                </div>
                <div class="aside-container-link">
                  <a href="#" class="initPlayVideo" data-video="https://drive.google.com/uc?export=download&id=15m69j2xWq1XjRLzY-H9aEhA1c9qZlqk9" data-video-ext="mp4" data-video-img="../../../resources/assets/imagens/posts/apps/melhores.apps.baixaki.png">
                    <p>Melhores Apps da Semana para Android e iOS</p>
                    <p>HÁ 1 HORA</p>
                  </a>
                </div>
              </div>

              <div class="aside-publicacao">
                <div class="aside-img">
                  <a href="#" class="initPlayVideo" data-video="https://drive.google.com/uc?export=download&id=1MwgkU85WAunyk90M3Oa-VJG5rddcW2Il" data-video-ext="mp4" data-video-img="../../../resources/assets/imagens/posts/apps/top5.apps.linux.png">
                    <i class="fas fa-play fa-2x"></i>
                    <img src="../../../resources/assets/imagens/posts/apps/top5.apps.linux.png" alt="Top 5 apps para o linux">
                  </a>
                </div>
                <div class="aside-container-link">
                  <a href="#" class="initPlayVideo" data-video="https://drive.google.com/uc?export=download&id=1MwgkU85WAunyk90M3Oa-VJG5rddcW2Il" data-video-ext="mp4" data-video-img="../../../resources/assets/imagens/posts/apps/top5.apps.linux.png">
                    <p>TOP 5 Apps para Linux que não podem faltar no seu PC</p>
                    <p>HÁ 47 HORA</p>
                  </a>
                </div>
              </div>

              <p class="aside-footer-link">
                <a href="#">VEJA MAIS VÍDEOS</a>
              </p>
          </div>
        </aside>
      </section>

    </main>

    <footer class="footer">
      <div class="footer-register">
        <div class="inputs-register">
          <div class="inputs-register-text">
            <h1>Fique por dentro das últimas postagens</h1>
            <p>Preencha o formulário com o seu email para receber as últimas notícias do mundo Tecnológico!</p>
          </div>
          <div class="inputs-register-input">
            <form method="post" action="">
              <input type="email" name="email" value="" placeholder="Entre com o seu endereço de email" required autocomplete="off">
              <input type="submit" name="" value="Quero Receber">
            </form>
          </div>
        </div>
      </div>
      <div class="footer-infos">
        <div class="list-links">
          <ul>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Contato</a></li>
            <li><a href="#">Política de Privacidade</a></li>
            <li><a href="#">Termos</a></li>
          </ul>
        </div>
        <div class="footer-copyright">
          <p>&copy Todos os direitos Reservados - TecBlog</p>
        </div>
      </div>
    </footer>
  </body>
  <script type="text/javascript" src="../../../resources/assets/js/generic.pages.js"></script>
  <script type="text/javascript" src="../../../resources/assets/js/mobile.js"></script>
  <script type="text/javascript" src="../../../resources/assets/js/modal.player.js"></script>
</html>
