<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
   
    <!-- CSS LOCAL -->
    <link rel="stylesheet" href="../../../resources/assets/css/generics/generic.header.css"/>
    <link rel="stylesheet" href="../../../resources/assets/css/generics/generic.posts.css"/>
    <link rel="stylesheet" href="../../../resources/assets/css/generics/generic.aside.css"/>
    <link rel="stylesheet" href="../../../resources/assets/css/generics/generic.footer.css"/>
    <link rel="stylesheet" href="../../../resources/assets/css/generics/modal.player.css"/>

    <link rel="stylesheet" href="../../../resources/assets/css/page.games.css"/>
    <link rel="stylesheet" href="../../../resources/assets/css/media.screen.css"/>
    <title>Games - TecBlog</title>
  </head>

  <body>
  <!-- BOTAO PARA SUBIR A PAGINA PARA O TOPO -->
    <div id="moveUpIcon" class="moveUpIcon">
      <div class="moveUpIconCircle" title="Ir para o topo">
        <i class="fas fa-arrow-up fa-2x"></i>
      </div>
    </div>
  
    <!-- MODAL PARA PRODUZIR OS VIDEOS -->
    <div id="modalPlayer" class="modalPlayer">
      <div class="modalPlayerClose">
        <span id="modalPlayerClose">✖</span>
      </div>
      <div class="modalPlayerCenter">
        <video autostart="1" poster="" controls controlslist="nodownload noremoteplayback" preload="auto">
          <source src="" type="">
        </video>
      </div>
    </div>

    <header class="header">
      <div>
        <div class="header-title">
          <h1><a href="../../../index.html">TecBlog</a></h1>
        </div>
        <div class="title-page-header">
          <h1>GAMES</h1>
        </div>
        <div class="header-search">
          <input type="text" name="search" placeholder="O que deseja procurar?" value="">
          <i class="fa fa-search" aria-hidden="true" id="icon-search" ></i>
        </div>
      </div>
      <div class="migalhas">
        <div>
          <!-- BASTA DUPLICAR O (a) COM O NOME E O LINK PARA ADICIONAR OUTRA MIGALHA -->
          <a href="../../../index.html">HOME
            <i class="arrow right"></i>
          </a>
          <!-- O ÚLTIMO (a) NÃO PRECISA DE (i - seta) -->
          <a href="./games.html">GAMES</a>
        </div>
      </div>
    </header>

    <main class="main-menu-games">
      <section class="main-section">
        <div class="main-div">
          <div class="posts">
            <div class="imagem">
              <a href="../../../resources/views/postpages/games.post.html">
                <img src="../../../resources/assets/imagens/posts/games/ghostbusters.png" alt="Ghostbusters">
              </a>
            </div>
            <div class="texto">
              <p class="texto-p-header">Jogo ganhou trailer de lançamento</p>
                <a href="../../../resources/views/postpages/games.post.html">
                  <h2>Ghostbusters World, jogo estilo Pokémon GO, é lançado para Android e iOS</h2>
                </a>
              <p class="texto-p-main">
                Depois de Jurassic Park, The Walking Dead, Harry Potter e até mesmo Jesus ganharem jogos
                 no estilo Pokémon GO, chegou a hora dos Caça-Fantasmas entrarem em ação.
              </p>
              <p class="texto-p-footer">
                ONTEM - EM LANÇAMENTOS
              </p>
            </div>
          </div>

          <div class="posts">
            <div class="imagem">
              <a href="../../../resources/views/postpages/games.post2.html">
                <img src="../../../resources/assets/imagens/posts/games/fortnite.png" alt="Fortnite">
              </a>
            </div>
            <div class="texto">
              <p class="texto-p-header">Recurso estará disponível em todos os modos e plataformas</p>
                <a href="../../../resources/views/postpages/games.post2.html">
                  <h2>Nova atualização de Fortnite deixará jogadores abrirem paraquedas durante partidas</h2>
                </a>
              <p class="texto-p-main">
                Em seu blog oficial, a Epic Games anunciou que a próxima atualização de Fortnite
                 vai adicionar um novo recurso para os jogadores abrirem seus paraquedas durante as partidas.
              </p>
              <p class="texto-p-footer">
                HÁ 10 HORAS - EM ATUALIZAÇÕES
              </p>
            </div>
          </div>

          <div class="posts">
            <div class="imagem">
              <a href="../../../resources/views/postpages/games.post3.html">
                <img src="../../../resources/assets/imagens/posts/games/bungie.png" alt="Destiny">
              </a>
            </div>
            <div class="texto">
              <p class="texto-p-header">Jogo seria mais focado em elementos RPG</p>
                <a href="../../../resources/views/postpages/games.post3.html">
                  <h2>Bungie já está desenvolvendo Destiny 3 [Rumor]</h2>
                </a>
              <p class="texto-p-main">
                Parece que a Bungie não perdeu tempo depois de lançar o DLC Renegados
                 e já está desenvolvendo Destiny 3!
              </p>
              <p class="texto-p-footer">
                HÁ 11 HORAS - EM NOTÍCIAS
              </p>
            </div>
          </div>

          <div class="posts">
            <div class="imagem">
              <a href="../../../resources/views/postpages/games.post4.html">
                <img src="../../../resources/assets/imagens/posts/games/spyro.png" alt="Spyro">
              </a>
            </div>
            <div class="texto">
              <p class="texto-p-header">Remake da franquia</p>
                <a href="../../../resources/views/postpages/games.post4.html">
                  <h2>Dragão roxo está de volta! Spyro Reignited Trilogy já está disponível</h2>
                </a>
              <p class="texto-p-main">
                Depois de ser adiado em dois meses, o dragãozinho roxo finalmente está de volta!
                 Spyro Reignited Trilogy acaba de ser lançado e já está disponível no mundo inteiro.
              </p>
              <p class="texto-p-footer">
                ONTEM - EM REMAKES
              </p>
            </div>
          </div>

        </div>
        <aside class="main-aside">
          <div class="aside-container">
              <h1>ÚLTIMAS PUBLICAÇÕES</h1>

              <div class="aside-publicacao">
                <div class="aside-img">
                  <a href="#">
                    <img src="../../../resources/assets/imagens/posts/games/street.jpg" alt="Caixa de Som">
                  </a>
                </div>
                <div class="aside-container-link">
                  <a href="#">
                    <p>Street Fighter: veja a evolução do jogo de Ryu nos torneios de esports</p>
                    <p>HÁ 5 MINUTOS</p>
                  </a>
                </div>
              </div>

              <div class="aside-publicacao">
                <div class="aside-img">
                  <a href="#">
                    <img src="../../../resources/assets/imagens/posts/caixadesom.jpg" alt="Caixa de Som">
                  </a>
                </div>
                <div class="aside-container-link">
                  <a href="#">
                    <p>Motorola One e Motorola One Power; conheça os novos celulares</p>
                    <p>HÁ 30 MINUTOS</p>
                  </a>
                </div>
              </div>

              <div class="aside-publicacao">
                <div class="aside-img">
                  <a href="#">
                    <img src="../../../resources/assets/imagens/posts/caixadesom.jpg" alt="Caixa de Som">
                  </a>
                </div>
                <div class="aside-container-link">
                  <a href="#">
                    <p>Motorola One e Motorola One Power; conheça os novos celulares</p>
                    <p>HÁ 1 HORA</p>
                  </a>
                </div>
              </div>

              <p class="aside-footer-link">
                <a href="#">VEJA MAIS PUBLICAÇÕES</a>
              </p>
          </div>

          <div class="aside-container">
              <h1>TOP VÍDEOS</h1>

              <div class="aside-publicacao">
                <div class="aside-img">
                  <a href="#">
                    <img src="../../../resources/assets/imagens/posts/caixadesom.jpg" alt="Caixa de Som">
                  </a>
                </div>
                <div class="aside-container-link">
                  <a href="#">
                    <p>Motorola One e Motorola One Power; conheça os novos celulares</p>
                    <p>HÁ 1 HORA</p>
                  </a>
                </div>
              </div>

              <div class="aside-publicacao">
                <div class="aside-img">
                  <a href="#">
                    <img src="../../../resources/assets/imagens/posts/caixadesom.jpg" alt="Caixa de Som">
                  </a>
                </div>
                <div class="aside-container-link">
                  <a href="#">
                    <p>Motorola One e Motorola One Power; conheça os novos celulares</p>
                    <p>HÁ 1 HORA</p>
                  </a>
                </div>
              </div>

              <div class="aside-publicacao">
                <div class="aside-img">
                  <a href="#">
                    <img src="../../../resources/assets/imagens/posts/caixadesom.jpg" alt="Caixa de Som">
                  </a>
                </div>
                <div class="aside-container-link">
                  <a href="#">
                    <p>Motorola One e Motorola One Power; conheça os novos celulares</p>
                    <p>HÁ 1 HORA</p>
                  </a>
                </div>
              </div>

              <p class="aside-footer-link">
                <a href="#">VEJA MAIS VÍDEOS</a>
              </p>
          </div>
        </aside>
      </section>

    </main>

    <footer class="footer">
      <div class="footer-register">
        <div class="inputs-register">
          <div class="inputs-register-text">
            <h1>Fique por dentro das últimas postagens</h1>
            <p>Preencha o formulário com o seu email para receber as últimas notícias do mundo Tecnológico!</p>
          </div>
          <div class="inputs-register-input">
           <form method="post" action="">
              <input type="email" name="email" value="" placeholder="Entre com o seu endereço de email" required autocomplete="off">
              <input type="submit" name="" value="Quero Receber">
            </form>
          </div>
        </div>
      </div>
      <div class="footer-infos">
        <div class="list-links">
          <ul>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Contato</a></li>
            <li><a href="#">Política de Privacidade</a></li>
            <li><a href="#">Termos</a></li>
          </ul>
        </div>
        <div class="footer-copyright">
          <p>&copy Todos os direitos Reservados - TecBlog</p>
        </div>
      </div>
    </footer>
  </body>
  <script type="text/javascript" src="../../../resources/assets/js/generic.pages.js"></script>
  <script type="text/javascript" src="../../../resources/assets/js/mobile.js"></script>
  <script type="text/javascript" src="../../../resources/assets/js/modal.player.js"></script>
</html>
